

<%= form_for(@post) do |f| %>
<%= f.label :name %><br>
<%= f.text_field :name %><br>

<%= f.label :content %><br>
<%= f.text_area :content %>

<h3>Enter the name of a new User</h3>
<%= f.label :user %><br>
<%= f.text_area :user %><br>
<br>
<h3>Or, select existing user</h3>
<%= f.collection_select(:user_id, User.all, :id, :name, prompt: true) %><br>
<br>
<%= f.submit %>
<% end %>
